<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bankspread</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <a class="navbar-item" href="{% url 'hitter:home' %}">
        <h1 class="title is-3">Bankspread</h1>
    </a>
    <a class="navbar-item" href="{% url 'hitter:home' %}">
        <h1 class="title is-5">Home</h1>
    </a>
    <a class="navbar-item" href="{% url 'hitter:privacy' %}">
        <h1 class="title is-5">Privacy Policy</h1>
    </a>
    <a class="navbar-item" href="{% url 'hitter:terms-of-service' %}">
        <h1 class="title is-5">Terms of Service</h1>
    </a>
</nav>
<br>
<div class="columns">
    <div class="column">
        <div id="starling" class="box has-text-centered" style="height: 100%">
            <div class="block is-inline-block" style="width: 50%">
                <img src="https://bankspread-storage-bucket.s3-eu-west-1.amazonaws.com/Logo-Starling.png"
                     alt="Starling Logo">
            </div>
            <br>
            <div class="block is-inline-block">
                {% if starling_login %}
                    <strong style="color: darkgreen">You've logged into Starling successfully!</strong>
                {% else %}
                    <a class="button is-dark" href="{% url 'starling:welcome' %}">Login to
                        Starling</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column">
        <div id="google" class="box has-text-centered" style="height: 100%">
            <div class="block is-inline-block" style="width: 50%">
                <img src="https://bankspread-storage-bucket.s3-eu-west-1.amazonaws.com/Logo-Google.png"
                     alt="Google Logo">
            </div>
            <br>
            <div class="block is-inline-block">
                {% if google_login %}
                    <strong style="color: darkgreen">You've logged into Google successfully!</strong>
                {% else %}
                    <a class="button is-dark" href="{% url 'sheeter:welcome' %}">Login to Google</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="box has-text-centered">
            <div id="make-sheet is-inline-block">
                {% if starling_login and google_login %}
                    <a class="button is-dark" href="{% url 'hitter:make-sheet' %}">Create your spreadsheet</a>
                {% else %}
                    <a disabled class="button is-dark" href="{% url 'hitter:make-sheet' %}">Create your
                        spreadsheet</a>
                {% endif %}
            </div>

        </div>
    </div>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>Bankspread</strong> was lovingly developed by <a href="https://github.com/clincha">Angus Clinch</a>
        </p>
    </div>
</footer>
</body>
</html>