name: Build and Push to DockerHub

on:
  push:
    branches: [ master ]

jobs:
  Image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Google service account file creation
        uses: VaultVulp/action-pipenv@v2.0.1
        env:
          SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
        with:
          command: run python decodeServiceAccount.py

      - name: Build the Docker image
        run: docker build ./web --tag clincha/bankspread:${{ github.run_number }} --tag clincha/bankspread:latest --build-arg STARLING_CLIENT_ID="awwfD5ijdU7lilHuSHbH" --build-arg STARLING_CLIENT_SECRET=${{ secrets.STARLING_CLIENT_SECRET }} --build-arg STARLING_REDIRECT_URL="https://bankspread.com/starling/callback" --build-arg STARLING_API_URL="https://api-sandbox.starlingbank.com/api/v2" --build-arg STARLING_BASE_URL="https://api-sandbox.starlingbank.com" --build-arg STARLING_OAUTH_URL="https://oauth-sandbox.starlingbank.com" --build-arg GOOGLE_REDIRECT_URL="https://bankspread.com/sheeter/callback" --build-arg DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}

      - name: Push to DockerHub
        run: docker image push clincha/bankspread:${{ github.run_number }} clincha/bankspread:latest